
```{=html}
<ol class="list" reversed>
  <% for (const item of items) { %>
    <li <%=metadataAttrs(item) %>>
      <a href="<%- item.path %>" class="nounderline">
        <%= item['pub-info'].reference %>
      </a>
    
      <% if (item.doi) { %>
        <a href="<%- item.doi %>" class="badge" target="_blank" rel="noopener noreferrer">
          DOI
        </a>
      <% } else if (item.link) { %>
        <a href="<%- item.link %>" class="badge" target="_blank" rel="noopener noreferrer">
          Link
        </a>
      <% } %>
      <% if (item['pub-info'].materials) { %>
        <a href="<%- item['pub-info'].materials %>" class="badge" target="_blank" rel="noopener noreferrer">
          Materials
        </a>
      <% } %>
    </li>
  <% } %>
</ol>
</span>

```
